@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@700&display=swap');

body {
    background-color: #d96e95;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #171717;
}

.navbar__elements {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Maven Pro", sans-serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

.navbar__elements:hover {
    color: #fe7e7e;
    cursor: pointer;
}

#navbar__links li {
    list-style: none;
    display: inline-block;
    padding: 0 20px;
}
