* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: #171717;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.1);
    scroll-behavior: smooth;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.colored__text {
    color: #FE7E7E;
}

.hero__header {
    font-size: 6vw;
    font-weight: 400;
    margin: -20px;
}

#hero__header__learn__more {
    font-size: 3vw;
    text-decoration: none;
}

#hero__header__divider {

}

