* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #E9CBAF;
    color: #6C3D4C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1vh;
    text-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
    -ms-overflow-style: none;  /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none;  /* Hide scrollbar for Firefox */
    scroll-behavior: smooth; 
    }
    
     /* Hide scrollbar for Chrome, Safari and Opera */
    .html::-webkit-scrollbar {
        display: none;
    }


#end__of__page {
    margin-bottom: -30vh;
}

.centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pink__colored {
    color: #F18080;
}

.orange__highlight {
    background-color: #F9A875;
    border-radius: 20px;
    line-height: 1.5;
    padding-right: 0.9vw;
    padding-left: 0.9vw;
    font-weight: 520;
    text-shadow: none;
    box-shadow: 3px 2px 2px rgba(199, 130, 59, 0.15);
}

.hero__header {
    font-size: 6vw;
    font-weight: 400;
}

.divider__line {
    height: 4vw;
}

.about__header {
    font-size: 3vw;
    font-weight: 400;
}

.logo {
    transition: all 0.2s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.logo__image {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 10vw;
}

@media only screen and (max-width: 1024px) {
    .hero__header {
        font-size: 12vw;
        font-weight: 400;
    }

    .about__header {
        font-size: 5vw;
        font-weight: 400;
    }

    .divider__line {
        height: 8vw;
    }

    .logo__image {
        margin-left: 2vw;
        margin-right: 2vw;
        width: 14vw;
    }
}

